Source: custom-theme
Section: misc
Priority: optional
Maintainer: Edson Juliano Drosdeck <edson@policorp.com.br>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/custom-theme
Vcs-Git: https://github.com/policorp-dev/custom-theme.git

Package: custom-theme
Architecture: all
Provides: saltine
Conflicts: saltine
Replaces: saltine
Depends:
 desktop-base (>= 13) ,
 plymouth,
 plymouth-themes,
 firefox-custom-policorp,
 gnome-shell-extension-lockkeys,
 gnome-shell-extension-quick-settings-audio-panel,
 dconf-profile,
 grub-distributor,
 network-manager-l10n,
 gnome-session-xsession,
 pipewire-pulse,
 gnome-software-plugin-deb,
 libqt5widgets5t64,
 driver-manager,
 qemu-usbtablet-ignore,
 policorp-backgrounds,
 fonts-tibetan-config,
 gnome-software-plugin-deb,
 pipewire-system-services,
Description: meta pacote para configurar tema Policorp
 Meta pacote para configurar tema Policorp

Package: custom-theme-kde
Architecture: all
Depends:
 desktop-base (>= 13) ,
 plymouth,
 plymouth-themes,
 firefox-custom-policorp,
 dconf-profile,
 grub-distributor,
 network-manager-l10n,
 pipewire-pulse,
 pipewire-system-services,
 gnome-software-plugin-deb,
 libqt5widgets5t64,
 qemu-usbtablet-ignore,
 fonts-tibetan-config,
Description: meta pacote para configurar tema Policorp kde
 Meta pacote para configurar tema Policorp kde
