Source: custom-theme
Section: misc
Priority: optional
Maintainer: OEM Polilinux <oem_support@polilinux.com.br>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/custom-theme
#Vcs-Git: https://salsa.debian.org/debian/custom-theme.git

Package: custom-theme
Architecture: all
Depends:
 desktop-base (>= 13) ,
 plymouth,
 plymouth-themes,
 firefox-custom-policorp,
 gnome-shell-extension-lockkeys,
 gnome-shell-extension-quick-settings-audio-panel,
 dconf-profile,
 ${shlibs:Depends},
 ${misc:Depends},
Description: meta pacote para configurar tema Policorp
 Meta pacote para configurar tema Policorp

Package: custom-theme-kde
Architecture: all
Depends:
 desktop-base (>= 13) ,
 plymouth,
 plymouth-themes,
 firefox-custom-policorp,
 dconf-profile,
 ${shlibs:Depends},
 ${misc:Depends},
Description: meta pacote para configurar tema Policorp kde
 Meta pacote para configurar tema Policorp kde
